
:root {
  /* --custom: #007bff; */
  --custom: #318beb;
}

.btn-custom {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-custom:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: #fff;
}

.btn-custom:focus,
.btn-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-custom.disabled,
.btn-custom:disabled {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-custom:not(:disabled):not(.disabled):active,
.btn-custom:not(:disabled):not(.disabled).active,
.show>.btn-custom.dropdown-toggle {
  background-color: #0062cc;
  border-color: #005cbf;
  color: #fff;
}

.btn-custom:not(:disabled):not(.disabled):active:focus,
.btn-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-outline-custom {
  border-color: #007bff;
  color: #007bff;
}

.btn-outline-custom:hover {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-outline-custom:focus,
.btn-outline-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-custom.disabled,
.btn-outline-custom:disabled {
  background-color: transparent;
  color: #007bff;
}

.btn-outline-custom:not(:disabled):not(.disabled):active,
.btn-outline-custom:not(:disabled):not(.disabled).active,
.show>.btn-outline-custom.dropdown-toggle {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-outline-custom:not(:disabled):not(.disabled):active:focus,
.btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/*-----menu----*/
::-moz-selection {
  background-color: #007bff;
  color: #fff;
}

::selection {
  background-color: #007bff;
  color: #fff;
}

a:not(.btn) {
  color: #007bff;
}

a:not(.btn):hover,
a:not(.btn):focus {
  color: #0056b3;
}

.color-scheme {
  color: #007bff;
}

.background-scheme {
  background-color: #007bff;
}

.btn.button-scheme {
  background-color: #007bff !important;
  border: 1px solid #007bff !important;
}

.btn.button-scheme:focus {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
  box-shadow: none !important;
}

.btn.button-outline {
  background-color: transparent !important;
  border: 1px solid #007bff !important;
  color: #222 !important;
}

.btn.button-outline:focus {
  background-color: rgba(34, 34, 34, 0.05) !important;
  border-color: #0056b3 !important;
  box-shadow: none !important;
}

/*---- Side--*/
.sidebar .sidebar-menu .list-menu .nav-link.active {
  color: #007bff;
}

/*---- Home ---*/
.home-area .home-name span {
  color: #007bff;
}

/*---- About ---*/
.about-area .about-content .content-subtitle {
  color: #007bff;
}


/*---- Project ----*/
.portfolio-area .portfolio-grid .portfolio-wrapper .item-content .content-more:focus, .portfolio-area .portfolio-grid .portfolio-wrapper .item-content .content-more:hover  {
  color: white;
}


/*--- Blog ----*/
.blog-area .single-post .post-img .content-date {
  background-color: #007bff;
}

/*---- Foot ------*/
.footer-area .contact-info .info-icon {
  color: #007bff;
}