* { 
  box-sizing: border-box !important ;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: initial !important;
}
body {
  background-color: #fff;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.95;
  position: absolute;
  width: 100%;
  margin: 0; 
}
section { 
  position: relative;
  left: 230px;
  width: 100%;
  scroll-margin-left: 230px;
}
/* text */
i.icon {
  line-height: 100%;
}

h1 {
  color: #222;
}
h2,h3, h4, h5,
h6 {
  color: #222;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #222;
}

.developer { 
  color: #007bff;

}
/* Ot */
a {
  transition: all 0.15s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
}

hr {
  border-top: 3px solid #e6e6e6;
  margin: 0;
}

.anchor-basic {
  color: #222;
}

.anchor-basic:hover,
.anchor-basic:focus {
  color: black;
}

/* Buttons */
.button-main {
  background-color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 30px;
  color: #222;
  font-size: 14px;
  padding: 10px 38px;
  margin-top: -40px;
}
.my-work-btn {
  box-shadow: 2px 2px 2px rgb(171, 171, 171); 
  text-decoration: none;
  transition: background-color ease-in  .5s;
}
.my-work-btn:hover {
  background-color:#318beb;
  color: white; 
}

.button-main:focus {
  background-color: #bfbfbf;
  border: 1px solid #c5c5c5;
  box-shadow: none;
}

.button-main.button-scheme {
  color: #fff;
}

/* Sections */
.single-section {
  background-color: #fff;
  padding: 35px 40px;
  /* display: flex; */
}

.single-section.alt-bg {
  background-color: #f7f7f7;
}

.single-section .section-heading {
  margin-bottom: 48px;
  text-align: left;
}

.single-section .section-heading>.section-title {
  display: inline-block;
  font-size: 40px;  
  letter-spacing: -0.25px;
  line-height: 100%;
  margin-bottom: 12px;
  position: relative;
  z-index: 9;
}

.single-section .section-heading>.section-description {
  font-size: 15px;
}

.single-section .section-heading.heading-center {
  text-align: center;
}

.single-section.element-cover-bg .section-heading>.section-title,
.single-section.element-cover-bg .section-heading>.section-description {
  color: #fff;
}

/* background */
.element-cover-bg {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.element-cover-bg:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*  styles */
.f-basis-100 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.owl-theme .owl-dots .owl-dot {
  outline: 0;
}


.main-wrapper .sections-wrapper {
  padding-left: 235px;
  position: relative;
}

/*--- Sidebar ----*/
.sidebar {
  background-color: #111;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 235px;
  z-index: 1;
  padding-top: 70px ;
  position:-webkit-sticky;
}

.sidebar .sidebar-header {
  padding-bottom: 60px;
  padding-top: 24px;
  text-align: center;
}
.email-info {
  padding-bottom: 10px;
}

.sidebar .sidebar-header .sidebar-avatar {
  border: 5px solid #484848;
  border-radius: 50%;
  margin-bottom: 16px;
  width: 110px;
  background-color: rgb(216, 216, 216);
}

.sidebar .sidebar-header .sidebar-status {
  color: #8a8a8a;
  display: block;
  line-height: 100%;
  margin-bottom: 0;
  margin-top: 9px;
}

.sidebar .sidebar-menu {
  padding-bottom: 24px;
}

.list-unstyled {
  list-style: none;
}

.sidebar .social-media-side a {
  background-color: #222;
  border-radius: 20%;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  margin: 35px 3px;
  text-align: center;
  transition: all 0.1s ease-in-out;
  width: 26px;
  padding: 5.5px 0;

}
.sidebar .social-media-side a.linkedin-side {
  background-color: #0077B5;
}
.sidebar .social-media-side a.github-side {
  background-color: #6e5494;
}
.sidebar .sidebar-menu .list-menu {
  margin-bottom: 0;
  text-align: center;
  padding-right: 40px;
}
.sidebar .sidebar-menu .list-menu li {
  line-height: 100%;
}
.sidebar .sidebar-menu .list-menu li a{
  line-height: 100%;
  text-decoration: none;
}
.sidebar .sidebar-menu .list-menu li:not(:last-child) {
  margin-bottom: 28px;
}
.sidebar .sidebar-menu .list-menu .nav-link {
  color: rgba(232, 232, 232, 0.95);
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 100%;
  padding: 0;
}
.sidebar .simplebar-content-wrapper {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sidebar .simplebar-track .simplebar-scrollbar:before {
  background: #fff;
}

.sidebar .simplebar-track .simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
}

.sidebar .simplebar-track.simplebar-vertical {
  width: 10px;
}
.sidebar .simplebar-track.simplebar-vertical .simplebar-scrollbar {
  height: auto;
  width: 6px;
}
.sidebar .simplebar-track.simplebar-horizontal {
  height: 10px;
}
.sidebar .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  height: 6px;
  width: auto;
}

/*--- Home ---*/
.home-area1 {
  height: 100vh;
  /* background-color: rgba(245, 240, 240, 0.68); */
  background-color: #ecebeb;
  padding: 0; 
}

.home-area1:before {
  background-color: rgba(245, 240, 240, 0.68);
}
.second-avatar { 
  position: absolute;
  bottom: 0;   
  right: 275px; 
  max-width: 230px; 
}
.home-area1 .home-headline1 {
  color: #fff;
  letter-spacing: 0.3px;
  top: 50%;
  left: 100px; 
  position: relative;
}
.home-area1 .home-name {
  font-size: 1.5rem;
  margin: 0; 
}
.home-area .home-headline::after {
  background-color: #b9b9b9;
  content: '';
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
}
.home-area.video-variant #wrapper_homeVideo:before {
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  height: 100%;
  left: 0;
  position:  absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.home-area #particles-js {
  height: 100%;
  position: absolute;
  width: 100%;
}
/*--- About ---*/

.about-area .about-img img {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.18);
  /* width: 430px; */
}

.about-area .about-content .content-subtitle {
  font-size: 22px;
  margin-bottom: 8px;
}

.about-area .about-content .content-title {
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.about-area .about-content .content-description {
  font-size: 15px;
  width: 50%; 
}
.about-area .about-content .content-description p {
  text-decoration: none;
  color: black;
}
.about-area .about-content .content-description p:last-child {
  margin-bottom: 0;
  padding-bottom: 27px;
}
/* added line */
.line {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  margin-top: 40px;
}

/* see work  */
.see-my-work {
  background-attachment: fixed;
  padding-bottom: 10px;
  padding-top: 15px;
}
.see-my-work:before {
  background-color: black;
}
.see-my-work .work-title {
  color: #f0f0f0;
  margin-bottom: 14px;
}

/*----- projects-----*/
/* .portfolio-grid {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content:start;
} */

.portfolio-grid {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px; 
}

.single-item {
  border: 1px solid #318beb;
  border-radius: .5rem;
  margin-bottom: 15px;
  padding: 20px; 
}

.portfolio-area .portfolio-grid .portfolio-wrapper {
  /* border: 3px solid rgb(199, 192, 255); */
  border-radius: .5rem;
  margin-bottom: 15px;
  width: 100%;
}
.portfolio-area .portfolio-grid .portfolio-wrapper img {
  width: 100%;
  height: 7rem; 
  border-radius: .37rem;
}

/* #project1 {
  background-color: black; 
}*/
.portfolio-area .portfolio-grid .portfolio-wrapper {
  position: relative;
}
.portfolio-area .portfolio-grid .portfolio-wrapper {
  bottom: 0;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95%;
  width: 100%;
  border-radius: .37rem;
  opacity: 0;
  transition: .5s ease;
  background-color: #318beb
}

.portfolio-wrapper:hover .overlay {
  opacity: 1; 
}
.content-title {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
 .content-more {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

.single-item .portfolio-wrapper .overlay .content-more {
  color: rgb(155, 155, 158); 
}

.portfolio-area .portfolio-grid .portfolio-wrapper>.img-fluid {
  width: 100%;
}
.project-btn {
  margin-left: 5px;
  padding: 2px 20px 2px 20px;
  text-decoration: none;
  top: 10px; 
  border: 1px solid rgb(180, 180, 180);
  transition: background-color ease-in  .5s;
  box-shadow: 2px 2px 2px rgb(171, 171, 171); 
}
.project-btn:hover {
  background-color:#318beb;
  color: white; 
}
/*---- Blog ----*/
.blog-wrap {
  display: flex; 
  margin-right: 20px;
}
.blog-area {
  height: 700px; 
}

.blog-area .single-post {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  height: 30vh; 
  width: 32vh; 
  position: relative;
  margin-right: 30px;
  border: 1px solid #318beb;
}
.blog-area .single-post .post-img {
  position: relative;
  width: 100%;
  object-fit: cover; 
}
.card-img-top {
  height: 65%; 
  border-radius: 7px;
  width: 100%;
  margin-bottom: 10px;
}

.blog-area .single-post .post-content {
  padding: 0;
  margin-top: 20px;
  color: black;
  position: absolute;
  width: 85%; 
  height: 10%; 
}
.blog-area .single-post .post-content .content-title {
  font-size: 14px;
  letter-spacing: 0.1px;
  margin: 0; 
  padding: 0;
  text-align: left;
  position: relative;
}
.blog-area .single-post .post-content .content-title {
  color: black; 
}
.blog-area .single-post .post-content .content-description {
  font-size: 13px;
  line-height: 1.7;
  margin: 0;
  margin-top: -5px; 
}

/*----- Footer ----*/
.footer-area {
  background-color: #111;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  color: #fff;
  padding-bottom: 0;
  padding-top: 0;
}

.footer-area .mini-footer {
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.footer-area .mini-footer .social-medias {
  margin-bottom: 0;
}

.footer-area .mini-footer .social-medias a {
  background-color: #222;
  border-radius: 20%;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  margin: 0 6px;
  text-align: center;
  transition: all 0.1s ease-in-out;
  width: 26px;
}

.footer-area .mini-footer .social-medias a.linkedin {
  background-color: #0077B5;
}

.footer-area .mini-footer .social-medias a.linkedin:focus,
.footer-area .mini-footer .social-medias a.linkedin:hover {
  background-color: #005c8c;
}

.footer-area .mini-footer .social-medias a.github {
  background-color: #6e5494;
}

.footer-area .mini-footer .social-medias a.github:focus,
.footer-area .mini-footer .social-medias a.github:hover {
  background-color: #5b457a;
}
sidebar-menu a.active {
  color: blue;
  transition: 0.8 ease color;
}

/* PhoneView */
@media (max-width: 38em) {
 body, html {
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
    scroll-padding: 3em;
  }
  section {
    width: 100%;
    left:0;
  }
  .home-area1 {
    height: 700px;
    background-color:rgb(18, 18, 18);
    background-image: url(img/blue-background.jpg);
  }
  .home-area1 .home-headline1 {
    text-align: center;
    position: relative;
    left: 0; 
    z-index: -1;
    /* bottom: 185px;  */
    top: 335px; 
  }
  .home-area1 .home-headline1 .home-name {
    font-size: 20px; 
    color: rgb(227, 227, 227); 
    font-family: sans-serif;
  }
  .home-area1 .home-headline1 .developer {
    color: #3548aa;
  }
  .resume-phone {
    box-shadow: 2px 2px 2px rgb(171, 171, 171); 
    margin-left: 10px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    transition: background-color ease-in  .5s;
  }
  .resume-phone:hover {
    background-color:#318beb;
    color: white; 
  }
  .content-subtitle {
    text-decoration: none;
  }
  .text{
    width: 600px;
  }
 .description-text {
    text-decoration:none;
  }
  .about-area .about-content .content-description {
    font-size: 15px;
    width: 100%; 
  }
  .sidebar {
    display: none;
  }
  .second-avatar {
    display: none; 
  }
  /* .portfolio-grid {
    padding-top: 0;
    flex-direction: column;
  }
    .portfolio-area .portfolio-grid .portfolio-wrapper {
    width: 19rem; 
    height: 11.5rem;
    margin: 5px 70px 10px 0;
  }
  .portfolio-area .portfolio-grid .portfolio-wrapper img {
    width: 100%;
    object-fit:fill;
    height: 11.1991rem;
    display: block;
  }
  .portfolio-area .portfolio-grid .phone-margin{
    margin-top: 45px ;
  } */
  .blog-area { 
    margin-bottom: 100px; 
  }
  .blog-area .single-post {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    height: 30vh; 
    width: 38vh; 
    margin: 5px 70px 20px -44px;
    border: 1px solid #318beb;
  }
  .card-img-top {
    height: 70%; 
    border-radius: 7px;
    width: 100%;
  }
  .blog-wrap {
    display: flex; 
    flex-direction: column;
    margin: 15px 70px 20px 35px;
  }
  .blog-area .single-post .post-content {
    padding: 0;
    margin: 0;
    margin-bottom: 190px;
  }
  .blog-area .single-post .post-content .content-title {
    padding: 10px;
    margin-top: 10px;
    font-size: 11px;
  }
  .blog-area {
    height: 130vh; 
  }
  .footer-area .mini-footer {
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    margin-left: 115px;
    justify-content: space-between;
    padding: 4px 0;
  }
  /* navbar */
.navbar {
  padding: 0; 
  height: 70px; 
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%; 
  justify-content: space-between;
  padding: 20px;
  height: 80px;
  z-index: 1;

}
.nav-links {
  display: flex; 
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 300px;
  /* height: 670px; */
  left: -20px; 
  top: -15px; 
  justify-content: center;
  list-style: none;
  margin-bottom: 50px;
  background: rgb(158, 158, 158); 
  padding: 50px 10px 10px 10px; 
  border-bottom-right-radius: 50px;
  margin-left: 0px; 
  margin-left: -900px; 
  position: fixed;
  transition: all .5s ease;
}
.single-section .section-heading .section-title {
  z-index: 0;
 
}
.nav-links li  {
  margin: 15px auto;  
  
}
.nav-links li a {
  margin: 20px auto; 
  text-decoration: none;
  color: white;  
}
.menu-btn {
  position: absolute;
  top: 30px; 
  left: 30px; 
  font-size: 25px;
  cursor: pointer;
  color:white;
  z-index: 5;
  /* position: fixed; */
}
.button-border {
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 80px; 
  /* background: rgb(87, 87, 137); */
  /* position: fixed; */
}
.mobile-menu {
  margin-left: 0px; 
  /* border-bottom-right-radius: 50px; */
}

}
/* Tablet View */
@media screen and (max-width: 50em) and (min-width: 38em) {
  body, html {
    overflow-x: hidden;
    width: 100%;
  }
  body {
    margin-top: 0; 
    padding-top: -10px;
  }
  .home-area1 {
    height: 700px;
    margin-top: -20px;
  }
  .home-area1 .home-headline1 {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.3px;
    top: 100px;
    left: 0%;  
    text-align: center;
    position: relative;
  }
  .resume-phone {
    visibility: hidden;
  }
  .sidebar {
    display: none;
  }
  .second-avatar {
    display: none;
  }
  section {
    width: 100%;
    left:0;
  }
  .nav-links {
    margin-left: -900px; 
  }
  .content-more {
    font-weight: 600;
    font-size: 12px;
  }
  /* .portfolio-grid {
    padding-top: 0;
    flex-direction: column;
  }
  .portfolio-area .portfolio-grid .portfolio-wrapper {
    width: 25rem; 
    height: 16.5rem;
    margin: 5px 70px 20px 0;
  } */
  .portfolio-area .portfolio-grid .portfolio-wrapper img {
    width: 100%;
    height: 9rem; 
    border-radius: .37rem;
  }
  .blog-area {
    height: 140vh; 
  }
  .blog-area .blog-wrap {
    height: 50vh; 
    position: relative;
  }
  .blog-wrap {
    display: flex; 
    flex-direction: column;
    margin: 15px 70px 20px 35px;
  }
  .blog-area .single-post .post-content {
    padding: 0;
    margin: 0;
    margin-bottom: 190px;
  }
  .blog-area .single-post {
    position: absolute;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    height: 30vh; 
    width: 32vh; 
    position: relative;
    margin-right: 30px;
    margin-bottom: 20px;
    border: 2px solid rgb(199, 192, 255);
  }
  
  .card-img-top {
    height: 60%; 
    border-radius: 7px;
    width: 100%;
  }
  .blog-area .single-post .post-content {
    padding: 0;
    margin: 0;
    margin-bottom: 190px;
  }
  .blog-area .single-post .post-content .content-title {
    padding: 5px;
    margin-top: 20px;
    font-size: 12px;
  }
  .menu-btn {
    visibility: hidden;
  }
}
/* Desktop View */
@media screen and (max-width: 100em) and (min-width: 50em)  {
  body, html {
    overflow-x: hidden;
    width: 100%;
  }
  .nav-links {
    margin-left: -900px; 
  }
  .home-area1 {
    /* height: 700px; */
    margin-top: -15px;
  }
  .menu-btn {
    visibility: hidden;
  }
  .resume-phone {
    visibility: hidden;
  }
  section {
    position: relative;
    width: 100%;
  }
  .blog-area {
    height: 60vh; 
  }
  .blog-area .single-post {
    position: absolute;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    height: 32vh; 
    width: 34vh; 
    position: relative;
    margin-right: 30px;
    border: 1px solid #318beb;
  }
  .card-img-top {
    height: 60%; 
    border-radius: 7px;
    width: 100%;
  }
  .blog-area .single-post .post-content {
    padding: 0;
    margin: 0;
    margin-bottom: 190px;
  }
  .blog-area .single-post .post-content .content-title {
    padding: 5px;
    margin-top: 20px;
    font-size: 13px;
    font-weight:100; 
  }
  .footer-area {
    display: none;
  }

}
@media screen and (max-width: 200em) and (min-width: 100em) {
  body, html {
    overflow-x: hidden;
    width: 100%;
  }
  .home-area1 {
    /* height: 700px; */
    margin-top: -15px;
  }
  .menu-btn {
    visibility: hidden;
  }
  .resume-phone {
    visibility: hidden;
  }
  .nav-links {
    margin-left: -900px; 
  }
  .home-area {
    height: 700px;
  }
  section {
    width: 100%;
    left:230;
  }
  .blog-area {
    height: 60vh; 
  }
  .blog-area .single-post .post-content .content-title {
    padding: 5px;
    margin-top: 20px;
  }
}




